{% from "erpnext/templates/includes/macros.html" import attribute_filter_section, field_filter_section,
discount_range_filters %}
{% extends "templates/web.html" %}

{% block title %}{{ _('Portal') }}{% endblock %}

{% block style %}
<style>
	.container {
		position: relative;
	}

	.title-container {
		position: relative;
		height: 80vh;
	}

	.title {
		margin-bottom: 20px;
		font-weight: 700;
	}

	.hidden {
		display: none;
	}
</style>
{% endblock %}

{% block page_content %}
<div class="container">
	<div class="content">
		<!-- <img class="image" src="/assets/erpnext/images/smartfm/greenphyto-building.jpg" alt="Empty Cart"> -->
		<div class="title-container">
			<h3 class="title">{{ _("Welcome to Smart FM") }}</h3>
			<div class="row">
				<div class="col-md-3 col-sm-6 my-sm-5 btn-smart-fm">
					<button class="btn btn-primary" onclick="location.href = '/smart-fm';">
						{{ _("Smart FM Checklists") }}
					</button>
				</div>
				<div class="col-md-3 col-sm-6 my-sm-5 btn-requests">
					<button class="btn btn-primary" onclick="location.href = '/requests';">
						{{ _("Requests from 3rd Party") }}
					</button>
				</div>
				<div class="col-md-3 col-sm-6 my-sm-5 btn-menu">
					<button class="btn btn-primary" onclick="location.href = '/menu';">
						{{ _("Menu") }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	frappe.ready(function () {
		if (frappe.session.user != 'Administrator') {
			frappe.call({
				method: "frappe.desk.reportview.get_list",
				args: {
					"doctype": "Has Role",
					"filters": {
						"parent": frappe.session.user,
						"parenttype": "User"
					},
					"fields": ["role"]
				},
				type: "GET",
				callback: function (r) {
					let roles = r.message.map(({ role }) => role);
					$('.btn-smart-fm').toggleClass('hidden', !roles.includes('Employee'));
					$('.btn-requests').toggleClass('hidden', !roles.includes('Employee') && !roles.includes('Vendor'));
					$('.btn-menu').toggleClass('hidden', !roles.includes('Employee'));
				},
			});
		}
	});
</script>
{% endblock %}