<div id="query" style="margin: 10px">
    <h1>d3forcegraph</h1>
    <form class="form-inline">
        <label>SPARQL endpoint:</label>
        <div class="input-append">
            <input id="endpoint" class="span5" value="http://dbpedia.org/sparql" type="text">
            <button class="btn btn-primary" type="button" onclick="exec()">Query</button>
            <!-- <button class="btn" type="button" onclick="exec_offline()">Use cache</button>
            <button class="btn" type="button" onclick="toggle()"><i id="button" class="icon-chevron-up"></i></button> -->
        </div>
    </form>
    <textarea id="sparql" class="span9" rows="15"></textarea>
</div>
<div id="result"></div>