{% for d in data %}
	<tr id="batchID{{d.id}}">
		<td class="bacth-no">{{d.batch_no}} 
			{% if d.double %}
				<a href="/app/batch/{{d.batch_no}}" style="color: red" target="_blank"><b>?</b></a>
			{% endif %}
		</td>
		<td class="foms-exp">{{d.foms_exp}}</td>
		<td class="foms-qty">{{d.foms_qty}}</td>
		<td class="erp-exp">{{d.erp_exp}}</td>
		<td class="erp-qty">{{d.erp_qty}}</td>
		<td>
			<button style="margin-left: 7px;" class="btn  btn-xs btn-add btn-update-foms btn-warning" 
			 btn-type="foms" batch-id="{{d.id}}" batch-no="{{d.batch_no}}" qty="{{d.erp_qty}}" warehouseID="{{d.warehouseId}}"
			 item-id="{{d.rawMaterialId}}" expired-date="{{d.expiryDate}}" 
			 {% if (d.erp_qty=="" || d.erp_qty==d.foms_qty) %}
				disabled
			 {% endif %}
			 >
				Update FOMS
			</button>
			<button style="margin-left: 7px;" class="btn btn-xs btn-add btn-update-erp btn-primary"
			 btn-type="erp" batch-id="{{d.id}}" batch-no="{{d.batch_no}}" qty="{{d.foms_qty}}" warehouseID="{{d.warehouseId}}"
			 item-id="{{d.rawMaterialId}}" expired-date="{{d.expiryDate}}" 
			 {% if (d.foms_qty=="" || d.erp_qty==d.foms_qty) %}
				disabled
			 {% endif %}
			 >
				Update ERP
			</button>
		</td>
	</tr>
{% endfor %}
